In [3]:
list1 = [3 , 2 , 5 , 6 , 0 , 7, 9]

sum = 0

sum1 = 0

for elem in list1:

    if (elem % 2 == 0):

        sum = sum + elem

        continue

        if (elem % 3 == 0):

            sum1 = sum1 + elem



            print(sum , end=" ")

print(sum1)

0

In [1]:
def hamur_bilgisi(siparis):
    def hamur():
        print("İnce hamur(1), Orta hamur(2), Kalın hamur(3)")
        siparis()
    return hamur
    
def pizza_bilgisi(siparis):
    def pizza():
        print("Margarita(1),  Klasik(2),     Türk pizza(3)")
        siparis()
    return pizza

def sos_bilgisi(siparis):
    
    def sos():
        print("Acılı sos(1),  Acısız sos(2), Organik sos(3)")
        siparis()
    return sos

@hamur_bilgisi
@pizza_bilgisi
@sos_bilgisi
def siparis():
    print("^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^")
    print("^^^^^^^^^^Sipariş Seçeneklerimiz^^^^^^^^^^^^ ")

siparis()

İnce hamur(1), Orta hamur(2), Kalın hamur(3)
Margarita(1),  Klasik(2),     Türk pizza(3)
Acılı sos(1),  Acısız sos(2), Organik sos(3)
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
^^^^^^^^^^Sipariş Seçeneklerimiz^^^^^^^^^^^^

In [ ]:
"{:>(5-1)}".format("1") + " " + "{:<(5-1)}".format("1")
"{:>3}".format("1") + " " + str(int("{:>4}".format("1")) + int("{:<4}".format("1"))) + " " + "{:<3}".format("1")
"{:>2}".format("1") + " " + str(int("{:>3}".format("1")) + int("{:>4}".format("1")) + int("{:<4}".format("1"))) + " " + str(int("{:>3}".format("1")) + int("{:>4}".format("1")) + int("{:<4}".format("1"))) + " " + "{:<2}".format("1")

In [ ]:
def prime_num(n):
    """takes a number as a parameter and checks whether the number is prime or not."""
    divide = 0
    for i in range(1,n + 1):
        if n % i != 0:
            continue
        else:
            divide += 1
    if divide <=2:
        return n

In [7]:
# Python3 program to count upper and
# lower case characters without using
# inbuilt functions
def upperlower(str):
 
    upper_counter = 0
    lower_counter = 0
 
    for i in range(len(str)):
         
        # For lower letters
        if (ord(str[i]) >= 97 and
            ord(str[i]) <= 122):
            lower_counter += 1
 
        # For upper letters
        elif (ord(str[i]) >= 65 and
            ord(str[i]) <= 90):
            upper_counter += 1
    return print(f"No. of Upper case characters: {upper_counter} 
                 \nNo. of Lower case characters: {lower_counter}")
    print('Lower case characters = %s' %lower,
        'Upper case characters = %s' %upper)
 
# Driver Code
str = 'GeeksforGeeks is a portal for Geeks'
upperlower(str)

No. of Upper case characters: 3
No. of Lower case characters: 27

In [ ]:
def count_upper_lower(str):
    """counts the number of upper and lower case letters in a string"""
    upper_counter = 0
    lower_counter = 0
    for i in range(len(str)):
        if  (ord(str[i]) >97 and ord(str[i]) <= 112):
            lower_counter += 1     
        elif (65 <= ord(str[i]) and ord(str[i]) <= 90):
            upper_counter += 1
    return upper_counter,lower_counter

In [4]:
upperlower('The quick Brow Fox')

Lower case characters = 12 Upper case characters = 3

In [1]:
L= ["a", "b", "c" "d"]
res = ''.join(L)
print(res)

abcd

In [4]:
# 30_enumerate_and_dict.py

some_string = "Python"
some_dict = {}
for i, some_dict[i] in enumerate(some_string):
    i = 10

print(some_dict)

{0: 'P', 1: 'y', 2: 't', 3: 'h', 4: 'o', 5: 'n'}

In [5]:
from my_package import my_math

In [3]:
my_math.burclar_(9,11)

Burcunuz: Akrep

In [4]:
my_math.burclar_(25,12)

Burcunuz: Oğlak

In [6]:
my_math.burclar_(19,7)

Burcunuz: Yengeç

In [21]:
 burclar_(25,12)

Burcunuz: Oğlak

In [ ]:
# Question_24:

num_1 = input("Enter an integer")
try:
    if len(num_1) <= 3:
        print(int(num_1) ** 2)
    elif len(num_1) > 3 and int(num_1) % 2 == 1 :
        print(int(num_1) - 2)
    elif len(num_1) > 3 and int(num_1) % 2 == 0:
        print(int(num_1) + 1)
except:
    print("invalid input")

In [ ]:
# Faktoriyel hesabı tyr except

def factorial (x):
    facto = 1
    try:
        if x >= 1:    
            while x != 1:
                facto *= x
                x -= 1
            return facto
        elif x == 0:
            return facto    
    except:
        print("Negative integers cannot be calculated!")

32 murat sedat ali

'sedat'

('selim', 'kader')

('berat', 'lilibet')

'ayse'

<class 'str'>
<class 'int'>
<class 'str'>
35
<class 'str'>
44444
414141

'sedat - sedat - sedat - '

<class 'int'>

<class 'bool'>

bool

banana
apple
orange

TypeError: type.__new__() argument 2 must be tuple, not str

50

10

31 28 31 30 31 30 31 31 30 31 30 31

2

SyntaxError: unterminated string literal (detected at line 1) (3820431004.py, line 1)

'30'

float

'3.14'

<class 'bool'>

str

''

3

3

<class 'float'>
<class 'int'>

float

int

3.0

float

6

ValueError: invalid literal for int() with base 10: '6.0'

32
pilot
<class 'str'>
<class 'str'>

TypeError: unsupported operand type(s) for -: 'int' and 'str'

1991

32
<class 'int'>

bool

NameError: name 'false' is not defined

0

1

<class 'float'>
5.6

10
22.5
2.525
I'm at_25

45

# Arithmatic Operations

In [10]:
print(20 / 5)   # İşlemde bölme varsa sonuç her zaman floattır.
print(20 / 5.0) # İşlemde float varsa sonuç floattır.

4.0
4.0
3

In [14]:
print(20 / 6)
print(20 // 6)  # floor division (bölümü verir) 
                ## floor divisionda da float varsa sonuç floattır.

3.3333333333333335
3
2
0
0.5

In [27]:
print( 20 % 6)  # modülüs (Kalanı verir)
print( 20 % 5)
print( 20.5 % 5)
print(type(20.5 % 5))
type(20 % 5)

2
0
0.5
<class 'float'>

int

In [23]:
type(20 % 5)

int

In [33]:
8 ** 2, 
print(8 ** 2), print(8 ** 3), print(3 ** 4),

64
512
81

(None, None, None)

In [38]:
8 ** 0.5,       64 ** 0.5,      64 ** (1/3)

(2.8284271247461903, 8.0, 3.9999999999999996)

In [41]:
128 ** (1/4)

3.363585661014858

In [47]:
x = (4 + 7) ** (3 ** (1 * 2 / 2) / 2) # işlem sırası önce parantez içi ve üs alma soldan sağa
print(x)                               ## Üs almanın öce
x = (4 + 7) ** (4 ** (1 * 2 / 2) / 2)
print(x)

36.4828726939094
121.0

In [51]:
y = (2 * 6 / 4) ** (5 * (21 // 4) - 23)
print(y)

9.0

In [58]:
# Yarıçapı 7 olan dairenin alanını hesaplayan kodu yazınız.
r = float(input("dairenin yarıçaını giriniz"))
alan_daire = 22 / 7 * r ** 2 
print(alan_daire)

154.0

In [67]:
x = 7

In [70]:
x += 7 # x = x + 7
x

28

In [76]:
y = 100

In [77]:
y -= 10
y

90

In [82]:
z = 75

In [86]:
z /= 5
print(z)

0.12

In [87]:
k = 400

In [90]:
k //= 20
print(k)

0

In [27]:
15 // 3.5

4.0

Task

In [92]:
 # bir kenarı 5 diğeri kenarı 12 olan dik üçgenin hipotenüsü kaçtır?
a,b = 5,12
hipotenus = (a ** 2 + b ** 2) ** 0.5
print(hipotenus)

13.0

# print() fonksiyonu

In [94]:
print("Hello world","python","tek",)

Hello world python tek

In [96]:
print("Helloworld","python","tek",sep="")

Helloworldpythontek

In [98]:
print("Helloworld","python","tek",sep="*")

Helloworld*python*tek

In [8]:
x,y = "apple","orange"
print(x,y,end="*")

apple orange*

In [9]:
print(x,end="")

apple

In [10]:
print(y)
print(x,y)

orange
apple orange

In [107]:
x = "elma"
y = "portakal"
z = "armut"
t = (False)
k = 3.14

In [109]:
print(x, y, z, t, k, sep="?")

elma?portakal?armut?False?3.14

In [111]:
print(x,end="")
print(y)
print(z)

elmaportakal
armut

In [112]:
print(x)
print(y,end="")
print(z)

elma
portakalarmut

In [113]:
print(x)
print(y,end="++")
print(z)

elma
portakal++armut

In [ ]:
x = "elma"
y = "portakal"
z = "armut"
t = False
k = 3.14

In [114]:
#Task
print(x)
print(y, z, sep="-")
print(k, end="*")

elma
portakal-armut
3.14*

In [13]:
# TASK: kişinin bmi değerini bulunuz. 
## Benim çalışmam

weight = float(input("Ağırlığınızı giriniz (kg)"))
height = float(input("Boyunuzu giriniz (metre)"))
bmi = weight / height ** 2
if bmi < 18.5:
    print("Vücut Kitle İndeksiniz: {:.2f}    İdeal kilonun altındasınız".format(bmi))
elif 18.5 <= bmi < 24.9:
    print("Vücut Kitle İndeksiniz: {:.2f}    İdeal kilodasınız".format(bmi))
elif 25.0 <= bmi < 29.9:
    print("Vücut Kitle İndeksiniz: {:.2f}    İdeal kilonun üstündesiniz".format(bmi))
elif 30.0 <= bmi < 39.9:
    print("Vücut Kitle İndeksiniz: {:.2f}    İdeal kilonun çok üstündesiniz (obez)".format(bmi))
elif 40.0 <= bmi:
    print("Vücut Kitle İndeksiniz: {:.2f}    İdeal kilonun çok üstündesiniz ( morbid obez)".format(bmi))
print("Kaynak:https://www.acibadem.com.tr/ilgi-alani/vucut-kitle-indeksi-hesaplama/")

Vücut Kitle İndeksiniz: 22.65    İdeal kilodasınız
Kaynak:https://www.acibadem.com.tr/ilgi-alani/vucut-kitle-indeksi-hesaplama/

In [25]:
# Benim çalışmam
# BMI Hesaplama 

while True:
    try:
        weight = int(input("Ağırlığınızı giriniz (kg)"))
        break
    except ValueError:
        print("Lütfen geçerli bir tam ya da ondalık sayı girin.")
while True:
    try:
        height = float(input("Boyunuzu giriniz (metre)"))
        break
    except ValueError:
        print("Lütfen geçerli bir tam ya da ondalık sayı girin.")
bmi = weight / height ** 2
if bmi < 18.5:
    print("Vücut Kitle İndeksiniz: {:.2f}    İdeal kilonun altındasınız".format(bmi))
elif 18.5 <= bmi < 24.9:
    print("Vücut Kitle İndeksiniz: {:.2f}    İdeal kilodasınız".format(bmi))
elif 25.0 <= bmi < 29.9:
    print("Vücut Kitle İndeksiniz: {:.2f}    İdeal kilonun üstündesiniz".format(bmi))
elif 30.0 <= bmi < 39.9:
    print("Vücut Kitle İndeksiniz: {:.2f}    İdeal kilonun çok üstündesiniz (obez)".format(bmi))
elif 40.0 <= bmi:
    print("Vücut Kitle İndeksiniz: {:.2f}    İdeal kilonun çok üstündesiniz ( morbid obez)".format(bmi))
print("Kaynak:https://www.acibadem.com.tr/ilgi-alani/vucut-kitle-indeksi-hesaplama/")

Lütfen geçerli bir tam ya da ondalık sayı girin.
Lütfen geçerli bir tam ya da ondalık sayı girin.
Vücut Kitle İndeksiniz: 25.65    İdeal kilonun üstündesiniz
Kaynak:https://www.acibadem.com.tr/ilgi-alani/vucut-kitle-indeksi-hesaplama/

In [26]:


# ChatGBT
# BMI Hesaplama 
def get_number(prompt):
    while True:
        num = input(prompt)
        if num.replace(".", "").isdigit():
            return float(num) if '.' in num else int(num)
        print("Lütfen geçerli bir tam ya da ondalık sayı girin.")

weight = get_number("Ağırlığınızı giriniz (kg)")
height = get_number("Boyunuzu giriniz (metre)")
bmi = weight / height ** 2
if bmi < 18.5:
    print("Vücut Kitle İndeksiniz: {:.2f}    İdeal kilonun altındasınız".format(bmi))
elif 18.5 <= bmi < 24.9:
    print("Vücut Kitle İndeksiniz: {:.2f}    İdeal kilodasınız".format(bmi))
elif 25.0 <= bmi < 29.9:
    print("Vücut Kitle İndeksiniz: {:.2f}    İdeal kilonun üstündesiniz".format(bmi))
elif 30.0 <= bmi < 39.9:
    print("Vücut Kitle İndeksiniz: {:.2f}    İdeal kilonun çok üstündesiniz (obez)".format(bmi))
elif 40.0 <= bmi:
    print("Vücut Kitle İndeksiniz: {:.2f}    İdeal kilonun çok üstündesiniz ( morbid obez)".format(bmi))
print("Kaynak:https://www.acibadem.com.tr/ilgi-alani/vucut-kitle-indeksi-hesaplama/")

Lütfen geçerli bir tam sayı girin.
Lütfen geçerli bir tam sayı girin.
Vücut Kitle İndeksiniz: 17.52    İdeal kilonun altındasınız
Kaynak:https://www.acibadem.com.tr/ilgi-alani/vucut-kitle-indeksi-hesaplama/

In [19]:
str_1 = "bu dünya çok güzel"
str_2 = "insan" # "samehmetrı"
print(str_1[:len(str_1) // 2] + str_2 + str_1[(len(str_1) // 2):])

bu dünya insançok güzel

In [20]:
ilk_bolum = str_1[:len(str_1) // 2]
son_bolum = str_1[len(str_1) // 2:]
sonuc = ilk_bolum + str_2 + son_bolum
sonuc
# str_1[:len(str_1) // 2] + str_2 + str_1[len(str_1) // 2:]

'bu dünya insançok güzel'

In [44]:
x = int(input("0 ile 100 arasında notunuzu giriniz:"))
if 100>= x >= 0:
    if 100 >= x >= 90:
        print("Notunuz A".format(x))
    elif 90 > x >= 75:
        print("Notunuz B".format(x))
    elif 75 > x >= 60:
        print("Notunuz C".format(x))
    elif  74 > x >= 61:
        print("Notunuz D".format(x))
    else:
        print("Notunuz F".format(x))
else:
    print("Hatalı giriş.")

Notunuz C

In [1]:
# Aşağıdaki kod doğru aralıkta giriş yapılıncaya kadar çalışır.
y = int(input("0 ile 100 arasında notunuzu giriniz:"))
while not 100>= y >= 0:
    y = int(input("Hatalı giriş! 0 ile 100 arasında notunuzu giriniz:"))
if 100 >= y >=0:    
    if 100 >= y >= 90:
        print("Notunuz A".format(y))
    elif 90 > y >= 75:
        print("Notunuz B".format(y))
    elif 75 > y >= 60:
        print("Notunuz C".format(y))
    elif 65 > y >= 45:
        print("Notunuz D".format(y))
else:
    print("Notunuz F".format(y))

Notunuz C

# 20230216_Oturum_7

## String_devam_dersi

In [32]:
str2 = "Kimseyi arkada bırakmadık"

In [3]:
str2.upper()

' KIMSEYI ARKADA BIRAKMADIK'

In [5]:
str2.capitalize()

' kimseyi arkada bırakmadık'

In [6]:
str2.swapcase()

' kIMSEYI ARKADA BIRAKMADIK'

## replace()

In [8]:
str2.replace("a","e") 
# Yeniden atama yapmaz
# ilk ifade yerine ikinci ifadeyi yerleştirir.

' Kimseyi erkede bırekmedık'

In [9]:
"Techpro".replace("h","")

'Tecpro'

In [1]:
str2

NameError: name 'str2' is not defined

In [11]:
str2.replace("ad","  ")

' Kimseyi ark  a bırakm  ık'

In [12]:
str2.replace("a","e").replace("m","n")

' Kinseyi erkede bıreknedık'

In [14]:
str2.replace("a","e").lower().swapcase()

' KIMSEYI ERKEDE BIREKMEDIK'

In [19]:
str2
str2.replace("a","e",2)

' Kimseyi erkeda bırakmadık'

In [20]:
str2
str2.replace("a","e",10)

' Kimseyi erkede bırekmedık'

In [21]:
str2
str2.replace("a","e",-2) #hepsini değiştirdi.

' Kimseyi erkede bırekmedık'

In [17]:
google_str = """Ben umut nedir bilmezdim. Elimden kimse tutmazdı benim,
ya da kimse saçımı okşayıp sevmezdi beni..
eksiktim, yarımdım ama ne olursa olsun güclüydüm.
Tek başıma da olsa her zaman ayağa kalkmayı başarırdım"""

In [18]:
google_str.replace("Ben","Biz")

'Biz umut nedir bilmezdim. Elimden kimse tutmazdı benim,\nya da kimse saçımı okşayıp sevmezdi beni..\neksiktim, yarımdım ama ne olursa olsun güclüydüm.\nTek başıma da olsa her zaman ayağa kalkmayı başarırdım'

In [22]:
google_str.replace("ben","biz")

'Ben umut nedir bilmezdim. Elimden kimse tutmazdı bizim,\nya da kimse saçımı okşayıp sevmezdi bizi..\neksiktim, yarımdım ama ne olursa olsun güclüydüm.\nTek başıma da olsa her zaman ayağa kalkmayı başarırdım'

In [23]:
str2.isalnum()

False

In [24]:
"Kimseyi geride bırakmadık".isalnum()

False

In [25]:
"Kimseyigeridebırakmadık".isalnum() # alfabetik karakterler ve sıfırdan dokuza olan karakterler

True

In [26]:
str2.isalpha()

False

In [28]:
"Kimseyigeridebırakmadık".isalpha()

True

## isalnum(), isalpha(), isnumeric(), isascii()

In [29]:
"Techpro123".isalnum()

True

In [30]:
"Techpro123".isalpha()

False

In [31]:
"Techpro123".isnumeric()

False

In [6]:
"123".isnumeric()

True

In [36]:
"Techpro123".isnumeric # fonsiyonu çaığrmadık.

In [35]:
"Kimseyi arkada Bşrakmadık".isascii()

False

## count(), find()

In [4]:
str2 = " Kimseyi arkada bırakmadık"

In [5]:
str2.count("a")

5

In [7]:
str2.count("ad")

2

In [14]:
google_str = """Ben umut nedir bilmezdim. Elimden kimse tutmazdı benim,
ya da kimse saçımı okşayıp sevmezdi beni..
eksiktim, yarımdım ama ne olursa olsun güclüydüm.
Tek başıma da olsa her zaman ayağa kalkmayı başarırdım"""
google_str.count("Ben")

1

In [10]:
google_str.count("ben")

2

In [16]:
# çözüm_1
google_str.lower().count("ben") # aynı anda iki ifadeyi saymaz

3

In [17]:
# çözüm_2
google_str.count("ben") + google_str.count("Ben")

3

In [18]:
google_str = """Ben umut nedir bilmezdim. Elimden kimse tutmazdı benim,
ya da kimse saçımı okşayıp sevmezdi beni..
eksiktim, yarımdım ama ne olursa olsun güclüydüm.
Tek başıma da olsa her zaman ayağa kalkmayı başarırdım."""

In [21]:
google_str.count(" ") + 1  # kaç kelime var?

28

In [22]:
google_str.count("Ben",5)

0

In [ ]:
google_str.count("Ben",5) # Index numarası 5 olandan sonrasına bakar

0

In [24]:
google_str.count("ben")

2

In [25]:
google_str.count("ben",5) # Index numarası 5 olandan sonrasına bakar

2

In [27]:
google_str.count("ben",76)

1

In [28]:
str2

' Kimseyi arkada bırakmadık'

In [33]:
str2.find("e") # ilk karakterin indexine döner

4

In [34]:
str2.find("ad") # ilk karakterin ilk indexine döner

11

In [35]:
str2.find("e",5) # bulamazsa -1 e döndürür

-1

## split()

In [6]:
str3 = "Techpro is the best couse in the world"

In [37]:
str3.split("e") # ilgili karateri siler (boşluk verir) ve listeye döndürür. ## default None

['T', 'chpro is th', ' b', 'st cous', ' in th', ' world']

In [38]:
str3.split("is")

['Techpro ', ' the best couse in the world']

In [39]:
str3.split()

['Techpro', 'is', 'the', 'best', 'couse', 'in', 'the', 'world']

In [41]:
len("tech'pro edu'cation".split("'"))

3

In [7]:
str3

'Techpro is the best couse in the world'

In [8]:
str3.split(maxsplit=1)

['Techpro', 'is the best couse in the world']

In [9]:
str3.split(maxsplit=2)

['Techpro', 'is', 'the best couse in the world']

In [11]:
str3.split("e", maxsplit=4)

['T', 'chpro is th', ' b', 'st cous', ' in the world']

In [12]:
print(*"techpro")

t e c h p r o

## strip(), startswist(), endswith()

In [13]:
str4 = "    Techpro is the best    "

In [14]:
str4.strip() # Baştan ve sondan boşlukları siler.

'Techpro is the best'

In [19]:
str4

'    Techpro is the best    '

In [21]:
str4.strip("t")

'    Techpro is the best    '

In [22]:
'    Techpro is the best    '.lstrip()

'Techpro is the best    '

In [23]:
'    Techpro is the best    '.rstrip()

'    Techpro is the best'

In [24]:
text = "www.techproeducation.com"
print(text.startswith('www'))

True

In [25]:
text1 = "www.techproeducation.com"
print(text1.startswith('com'))

False

In [26]:
type(print(text1.startswith('com')))

False

NoneType

In [28]:
text.endswith('com')

True

# if elif else

In [31]:
bool("Techpro") #stringler True döndürür

True

In [30]:
if "Techpro":
    print("if kısmını yazdırır")
else:
    print("else kısmını yazdırı")

if kısmını yazdırır

In [33]:
if "":
    print("if kısmını yazdırır")
else:
    print("else kısmını yazdırır")

else kısmını yazdırır

In [ ]:
x = 8
if x < 2:
    print("if")
elif

In [38]:
yas = int(input("Yaşınızı giriniz"))
if yas <= 30:
    print("Hayat sana güzel")
elif 30 < yas <= 50:
    print("Sen de iyisin")
else:
    print("Dikkat et")

Dikkat et

In [47]:
# 3'e, 5'e ve hem 3'e hem de 5'e bölünme durumlarını kodluyoruz.
x = int(input("Bir sayı giriniz"))
if x % 5 == 0 and x % 3 == 0:
    print("TechPro")
elif x % 5 == 0:
    print("Pro")
elif x % 3 == 0:
    print(("Tech"))
else:
    print(x)

101

# LISTS

In [ ]:
list()
[]
# iterable
# muteable
# vigül ile ayrılır
# birden fazla data type barındırabilir

In [1]:
liste_1 = list("Techpro") 
liste_1

['T', 'e', 'c', 'h', 'p', 'r', 'o']

In [2]:
len(liste_1)

7

In [3]:
str_1 = "Techpro"

In [4]:
liste_2 = list(str_1)
liste_2

['T', 'e', 'c', 'h', 'p', 'r', 'o']

In [5]:
print(type(liste_1))

<class 'list'>

In [6]:
str(liste_1)

"['T', 'e', 'c', 'h', 'p', 'r', 'o']"

In [7]:
len(str(liste_1))

35

In [8]:
emty_list = list()
emty_list

[]

In [9]:
liste_3 = ["Techpro"]
liste_3

['Techpro']

In [10]:
["Techpro", "sedat", 15]

['Techpro', 'sedat', 15]

In [11]:
liste_4 = [1250]
liste_4

[1250]

In [12]:
list(1234) # iterable değil

TypeError: 'int' object is not iterable

In [13]:
new_list = [4, 3.14, False, "Murat"] # birden fazla data type barındırabilir
new_list

[4, 3.14, False, 'Murat']

In [14]:
type(new_list)

list

In [15]:
type("Ravshan")

str

In [16]:
new_list

[4, 3.14, False, 'Murat']

In [17]:
new_list[0] # köşeli parantez intexlemeyi sağlıyor

4

In [18]:
[4, 3.14, False, 'Murat'][1:3]

[3.14, False]

In [19]:
new_list

[4, 3.14, False, 'Murat']

In [20]:
new_list[4][0] # IndexError: list index out of range

IndexError: list index out of range

In [21]:
new_list[3][0] # 'Murat' ifadesi str olduğu için indekslenebilir

'M'

In [22]:
new_list[2][0] # 'bool, int ve float ifadeler indekslenemez

TypeError: 'bool' object is not subscriptable

In [23]:
new_list

[4, 3.14, False, 'Murat']

In [24]:
type(new_list[0])

int

In [25]:
new_list[0] // 3

1

In [26]:
new_list[3] * 3

'MuratMuratMurat'

In [27]:
new_list[3].upper()

'MURAT'

In [28]:
new_list_1 = [3, 3.14, "ahmet", [3, 5, False]]
len(new_list_1)

4

In [29]:
len(new_list_1[3])

3

In [31]:
new_list_1[3][1]

5

In [38]:
smile = "asdlkajsfd"

In [39]:
liste_5 = [smile]
liste_5

['asdlkajsfd']

In [46]:
print(list(smile))
list(smile)[2:6]

['a', 's', 'd', 'l', 'k', 'a', 'j', 's', 'f', 'd']

['d', 'l', 'k', 'a']

In [44]:
print(len(list(35))) # TypeError: 'int' object is not iterable

TypeError: 'int' object is not iterable

In [42]:
print(len([35]))

1

In [48]:
print(len(list("35")))
list("35")

2

['3', '5']

In [51]:
new_list

[4, 3.14, False, 'Murat']

In [52]:
new_list[-1]

'Murat'

In [53]:
sayi_listesi = [16, 25, [12, 14, 16], 27, 36]

In [55]:
print(sayi_listesi[2:4])
sayi_listesi[1] + sayi_listesi[3]

[[12, 14, 16], 27]

52

In [56]:
sayi_listesi[:4:2]

[16, [12, 14, 16]]

In [57]:
sayi_listesi[1:5:2]

[25, 27]

In [58]:
liste_1

['T', 'e', 'c', 'h', 'p', 'r', 'o']

In [59]:
liste_3

['Techpro']

In [67]:
print(liste_1 + liste_3 )#listerlerde toplama işlemi
liste_3 * len(liste_1)

['T', 'e', 'c', 'h', 'p', 'r', 'o', 'Techpro']

['Techpro', 'Techpro', 'Techpro', 'Techpro', 'Techpro', 'Techpro', 'Techpro']

In [63]:
liste_3 * 3

['Techpro', 'Techpro', 'Techpro']

In [62]:
[1250, 365] * 4

[1250, 365, 1250, 365, 1250, 365, 1250, 365]

In [68]:
sayilarin_kupu = [1, 8, 27, 65, 125]

In [69]:
sayilarin_kupu[3] = 64

In [70]:
sayilarin_kupu

[1, 8, 27, 64, 125]

In [71]:
name[0] = "p"

NameError: name 'name' is not defined

In [74]:
name = ["Techpro"]

In [75]:
aa = list(name)

In [78]:
aa[0] = "p"

In [79]:
str(aa)

"['p']"

In [80]:
str(aa).strip("[").strip("]").replace(",","").replace("'","").replace(" ","")

'p'

In [81]:
sayi_listesi

[16, 25, [12, 14, 16], 27, 36]

In [82]:
sayi_listesi[1] = [25, 27]

In [83]:
sayi_listesi

[16, [25, 27], [12, 14, 16], 27, 36]

In [87]:
sayi_listesi[3] = None

In [88]:
sayi_listesi

[16, [25, 27], [12, 14, 16], None, 36]

In [91]:
letters = ["a", "b", "c", "d", "e", "f", "g"]

In [92]:
letters[2:5]

['c', 'd', 'e']

In [93]:
letters[2:5] = 1,2,3

In [94]:
letters

['a', 'b', 1, 2, 3, 'f', 'g']

In [95]:
letters[0] = "h", "k", "l"

In [96]:
letters

[('h', 'k', 'l'), 'b', 1, 2, 3, 'f', 'g']

In [97]:
letters[5:] = []

In [98]:
letters

[('h', 'k', 'l'), 'b', 1, 2, 3]

In [99]:
["sedat"]

['sedat']

In [100]:
[[12, 15, 18]]

[[12, 15, 18]]

In [101]:
len([[12, 15, 18]])

1

In [106]:
alfabe = ["a", "l", "f", "a", "b", "e"]
alfabe

['a', 'l', 'f', 'a', 'b', 'e']

In [107]:
alfabe_1= ["alfabe"]
alfabe_1

['alfabe']

In [108]:
list("alfabe")

['a', 'l', 'f', 'a', 'b', 'e']

In [114]:
letters = ["a", "b", "c", "d", "e", "f", "g"]

In [117]:
letters[2:5] = 1,2,3,5
letters

['a', 'b', 1, 2, 3, 5, 5, 5, 'f', 'g']

In [118]:
letters = ["a", "b", "c", "d", "e", "f", "g"]

In [121]:
letters[2:5] = 1,2,3,5,6
letters

['a', 'b', 1, 2, 3, 5, 6, 5, 6, 5, 6, 'f', 'g']

## Basic Opreations  with Lists

### append()

In [122]:
sayilar = [1, 2, 3, 4, 5]

In [124]:
sayilar.append(6) # listeler muteable
sayilar

[1, 2, 3, 4, 5, 6, 6]

In [127]:
name = "Techpro"

In [128]:
name.upper()

'TECHPRO'

In [130]:
sayilar.append(7)
sayilar

[1, 2, 3, 4, 5, 6, 6, 7, 7]

In [131]:
sayilar.append('hello')
sayilar

[1, 2, 3, 4, 5, 6, 6, 7, 7, 'hello']

In [132]:
sayilar.append(8,9) # sadece bir nesne eklenir
sayilar

TypeError: list.append() takes exactly one argument (2 given)

In [133]:
sayilar.append([8,9])
sayilar

[1, 2, 3, 4, 5, 6, 6, 7, 7, 'hello', [8, 9]]

### insert()

In [ ]:
sayilar.insert() # index ve eklenecek eleman ile kullanılır. yazdımız index'e eleman ekler

In [140]:
sayilar.insert[2:5]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [136]:
sayilar_1 = [5,10,15,20]

In [139]:
sayilar_1.insert(-1, 25)
sayilar_1

[5, 10, 15, 25, 25, 20]

### remove()

In [154]:
sayilar_2 = [1,2,5,6,4,8,9,1,2,1]
sayilar_2

[1, 2, 5, 6, 4, 8, 9, 1, 2, 1]

In [155]:
sayilar_2.remove(2) # ilk gördüğü elmanı siler
sayilar_2

[1, 5, 6, 4, 8, 9, 1, 2, 1]

In [156]:
sayilar_2.remove(2) # ilk gördüğü elmanı siler
sayilar_2

[1, 5, 6, 4, 8, 9, 1, 1]

In [157]:
sayilar_2.remove(1,1) # iki eleman silinemez
sayilar_2

TypeError: list.remove() takes exactly one argument (2 given)

In [161]:
sayilar_2.remove(1) # 4. çalıştırmada 1 kalmadığı için hata verdi
sayilar_2

ValueError: list.remove(x): x not in list

In [162]:
sayilar_2 = [1,2,5,6,4,8,9,1,2,1]
sayilar_2

[1, 2, 5, 6, 4, 8, 9, 1, 2, 1]

In [163]:
set(sayilar_2)

{1, 2, 4, 5, 6, 8, 9}

In [167]:
sayilar_2 = [1,2,5,6,4,8,9,1,2,1]
sayilar_2.remove(sayilar_2[7])
sayilar_2

[2, 5, 6, 4, 8, 9, 1, 2, 1]

### sort()

In [170]:
sayilar_2

[1, 1, 2, 2, 4, 5, 6, 8, 9]

In [171]:
sayilar_2
sayilar_2.sort()
sayilar_2

[1, 1, 2, 2, 4, 5, 6, 8, 9]

In [172]:
sayilar_2
sayilar_2.sort(reverse=True)
sayilar_2

[9, 8, 6, 5, 4, 2, 2, 1, 1]

In [175]:
liste_6 = [3, 5, 3.14, 4.5, "ahmet", "Mehmet", "sedat", False, True]
liste_6.sort()

TypeError: '<' not supported between instances of 'str' and 'float'

In [176]:
liste_7 = [3, 5, "ahmet", "Mehmet", "sedat", False, True]
liste_7.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [178]:
liste_8 = [3, 5, 4.5, 3.14, False, True]
liste_8.sort()
liste_8

[False, True, 3, 3.14, 4.5, 5]

In [180]:
# sadve str varsa  ASCII koduna göre sıralar
liste_10 = ['apple', 'orange', 'banana', 'pine apple'] 
liste_10.sort()
liste_10

['apple', 'banana', 'orange', 'pine apple']

In [181]:
liste_11 = ['apple', 'orange', 'banana', 'Pine apple'] 
liste_11.sort()
liste_11

['Pine apple', 'apple', 'banana', 'orange']

# 20230218

In [17]:
liste_1 = [1, 1.4, True, "özgür", [1,2], {'name': 'Emrah'}] 
liste_1

[1, 1.4, True, 'özgür', [1, 2], {'name': 'Emrah'}]

In [22]:
liste_1[4].append(4)
liste_1

[1, 1.4, True, 'özgür', [1, 2, 3, 3, 4], {'name': 'Emrah'}]

In [28]:
liste_1[3].startswith("ö")
print(liste_1[3].endswith("r"))

True

In [7]:
liste_1

[1, 1.4, True, 'özgür', [1, 2], {'name': 'Emrah'}]

In [8]:
liste_1[2::2]

[True, [1, 2]]

In [12]:
liste_2 = ["adem, 2"]
liste_2 * 3

['adem, 2', 'adem, 2', 'adem, 2']

In [24]:
liste_1 + liste_2 # toplamada sıra önemli

[1, 1.4, True, 'özgür', [1, 2, 3, 3, 4], {'name': 'Emrah'}, 'adem, 2']

In [16]:
liste_1[5] = [4, 5, 6]
liste_1

[1, True, 1.4, 'özgür', [1, 2], [4, 5, 6]]

In [25]:
liste_1 + 3

TypeError: can only concatenate list (not "int") to list

In [32]:
liste_2
liste_2.append(3)
liste_2

['adem, 2', 3, 3, 3]

In [33]:
liste_2.append([5, 6, 7])
liste_2

['adem, 2', 3, 3, 3, [5, 6, 7]]

In [34]:
liste_2.append([8, 9], [5, 6, 7])

TypeError: list.append() takes exactly one argument (2 given)

In [38]:
str_1 = [11,129]
liste_2.append(str_1)
liste_2

['adem, 2', 3, 3, 3, [5, 6, 7], [8, 9], [8, 9], [11, 129]]

In [39]:
liste_2.insert(4, "hanife")
liste_2

['adem, 2', 3, 3, 3, 'hanife', [5, 6, 7], [8, 9], [8, 9], [11, 129]]

In [44]:
numers = [0,1,2,3,4,5,6,1,2,3,4,5,7,8,8]
numers.remove(14)
numers

ValueError: list.remove(x): x not in list

In [53]:
numers = [0,1,2,3,4,5,6,1,2,3,4,5,7,8,8] # ilk gördüğünü iler
numers.remove(1)
numers

[0, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 7, 8, 8]

In [56]:
aa = [2,5,4,14,bool("ahmat"),False ]
aa.sort()
aa

[False, True, 2, 4, 5, 14]

In [62]:
list = [[]]*3
list[1].append(5)
print(list)

[[5], [5], [5]]

In [63]:
list = [[], [], []]
list[1].append(5)
print(list)

[[], [5], []]

## sort()

In [68]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [67]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key= str.lower) #str.lower bir fonsiyon 
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [71]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key= str.lower,reverse=True) # tersten sıralama 
print(thislist)

['Orange', 'Kiwi', 'cherry', 'banana']

In [69]:
"Techpro".lower

In [70]:
"Techpro".lower()

'techpro'

In [80]:
liste5=["banana","Orange","Kiwi","cherry"]
liste6 = liste5.sort(key=str.lower)
print(liste6)
# burada liste6 ya atama yapılmıyor.

None

In [79]:
liste5 = ["banana", "Orange", "Kiwi", "cherry"]
liste5.sort(key=str.lower)
liste6 = liste5
liste6

['banana', 'cherry', 'Kiwi', 'Orange']

In [82]:
Hababam_Sınıfı = ["Kemal Sunal", "Halit Akçatepe", "Münir Özkul", 
                  "Adile Naşit", "İlyas Salman", "Şener Şen", "Tarık Akan", 
                  "Şevket Altuğ", "Perran Kutman", "Akil Öztuna", "Ayşen Gruda"]
Hababam_Sınıfı.sort(key = str.lower)
Hababam_Sınıfı

['Adile Naşit',
 'Akil Öztuna',
 'Ayşen Gruda',
 'Halit Akçatepe',
 'İlyas Salman',
 'Kemal Sunal',
 'Münir Özkul',
 'Perran Kutman',
 'Tarık Akan',
 'Şener Şen',
 'Şevket Altuğ']

In [83]:
thislist

['Orange', 'Kiwi', 'cherry', 'banana']

In [85]:
thislist.append("apple") # çıktı vermez.

In [84]:
print(thislist.append("apple")) #çıktı vermediği için print yapmaz.

None

## pop()

In [98]:
thislist = ['banan', 'cherry', 'Kiwi', 'Orange', 'apple', 'apple']
thislist

['banan', 'cherry', 'Kiwi', 'Orange', 'apple', 'apple']

In [105]:
thislist.pop()

'Orange'

In [106]:
thislist

['banan', 'cherry', 'Kiwi']

In [119]:
numers = [0, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 7, 8, 8]

In [120]:
numers

[0, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 7, 8, 8]

In [121]:
numers.pop(5) # 5. elemanı sildi ve gösterdi

6

In [125]:
numers.pop() # default son elmanı siler

7

In [127]:
liste_3 = [3, 'hello', True, 3.15, (3, 5), [15, 20, 25], {'name': 'Sedat'}]
liste_3

[3, 'hello', True, 3.15, (3, 5), [15, 20, 25], {'name': 'Sedat'}]

## clear()

In [129]:
liste_3.clear() # tüm elemanları temizler. liste hala var.
liste_3

[]

## delete()

In [130]:
liste_4 = [1, 5, 9, 10, 'hi', 'world', 'pine apple', 'orange', 'banana', 'apple']

In [132]:
del liste_4 # listeyi tamamen siler, geri dönüş yok.
liste_4

NameError: name 'liste_4' is not defined

In [133]:
del(liste5)

## count()

In [135]:
numers = [1,2,5,4,1,2,3,6,5,8,9,7,4,1]
numers.count(1)

3

In [143]:
print(liste_1)
liste_1.count([1, 2, 3, 3, 4])

[1, 1.4, True, 'özgür', [1, 2, 3, 3, 4], {'name': 'Emrah'}]

1

In [144]:
liste_1.count(1) # 1 ve True yu saydı.

2

In [145]:
[1, 1.4, 'özgür', [1, 2, 3, 3, 4], {'name': 'Emrah'}].count(1)

1

## extend()
#### birden fazla elemanı liste içinde ayrı ayrı ilave ediyor.
#### append sadece bir eleman ilave ediyor.

In [146]:
liste_5 = ["onur", "halil", "baha"]

In [148]:
liste_5.append(["oğuz,", "rume"])
liste_5

['onur', 'halil', 'baha', ['oğuz,', 'rume'], ['oğuz,', 'rume']]

In [152]:
liste_5 = ["onur", "halil", "baha"] 
liste_5.extend(["oğuz,", "rume"])
liste_5

# birden fazla elemanı liste içinde ayrı ayrı ilave ediyor.
# append sadece bir eleman ilave ediyor.

['onur', 'halil', 'baha', 'oğuz,', 'rume']

In [160]:
liste_5 = ["onur", "halil", "baha"] 
liste_5.extend(liste_5)
liste_5

['onur', 'halil', 'baha', 'onur', 'halil', 'baha']

In [162]:
liste_5.extend(["fat"])
liste_5

['onur', 'halil', 'baha', 'onur', 'halil', 'baha', 'fat', 'fat']

In [163]:
liste_5.extend("cem")
liste_5

['onur', 'halil', 'baha', 'onur', 'halil', 'baha', 'fat', 'fat', 'c', 'e', 'm']

In [171]:
liste_5.pop()
liste_5.extend([5])
liste_5

['onur',
 'halil',
 'baha',
 'onur',
 'halil',
 'baha',
 'fat',
 'fat',
 'c',
 'e',
 'm',
 5]

## join()

In [ ]:
"".join()

In [172]:
liste_6 = ["beat", "filiz", "rmzn"]
"".join(liste_6)

'beatfilizrmzn'

In [175]:
liste_6 = ["beat", "filiz", "rmzn"]
"_*_*_".join(liste_6)

beat_*_*_filiz_*_*_rmzn

In [177]:
len("_*_*_".join(liste_6))

23

# Notebook ipuçları

<img src="image (6).png">

<img scr="ASCII code_2.png">

<img scr="image.png">

In [181]:
text = "{:.2f}, {:.3f}, {:.1f}".format(3.14654, 5.42558445, 74.562264)
print(text)

3.15, 5.426, 74.6

In [183]:
ss = "{:>10}".format("bülent")
ss

'    bülent'

In [185]:
tt = "{:>20}".format("bülent") # sağa yastlar
tt

'              bülent'

In [187]:
ss = "{:<20}".format("bülent") #sola yastlar
ss

'bülent              '

In [188]:
ss = "{:^20}".format("bülent") #sola yastlar # ortalar
ss

'       bülent       '

In [190]:
"bülent".center(20,"*")

'*******bülent*******'

<>

# Alıştırmalar

## Soru_1

In [5]:
# Kullanıcıdan aldığınız iki sayının toplamlarını format 
# yöntemlerinden biri ile yazdırınız.

sayi_1 = input("1. sayıyı giriniz")
sayi_2 = input("2. sayıyı giriniz")
sonuc = float(sayi_1) + float(sayi_2)
print("toplam: {:.1f}".format(sonuc))
print(f"toplam : {sonuc}")

toplam: 77.0
toplam : 77.0

In [199]:
num_1 = input("Bir sayı giriniz")
num_2 = input("Bir sayı giriniz")
total = float(num_1) + float(num_2)
print(f"toplam: {total}")

toplam: 4973.280000000001

In [6]:
sayi_1 = float(input("sayi giriniz:"))
sayi_2 = float(input("sayi giriniz:"))
print("{} :  {}".format("toplam",(sayi_1+sayi_2)))

toplam :  77.0

In [207]:
sayi_1 = float(input("sayi giriniz:"))
sayi_2 = float(input("sayi giriniz:"))
print("{} :  {}".format("toplam",(sayi_1+sayi_2)))
print("Girilen sayılar: {} ve {} \nToplam :  {:.1f}".format(sayi_1,sayi_2,(sayi_1 + sayi_2)))

toplam :  57.965
Girilen sayılar: 32.6 ve 25.365
Toplam :  58.0

## Soru_2

In [217]:
# Kullanıcıdan aldığınız iki sayının toplamları 
# ile farklarının çarpımını format 
# yöntemlerinden biri ile yazdırınız.

sayi_1 = float(input("sayi giriniz:"))
sayi_2 = float(input("sayi giriniz:"))
print("{} :  {}".format("toplam",(sayi_1 + sayi_2) * (sayi_1 - sayi_2)))
print("Girilen sayılar: {} ve {} \nToplam :  {:.1f}".format(sayi_1,sayi_2,(sayi_1 + sayi_2) * (sayi_1 - sayi_2)))

toplam :  -5.0
Girilen sayılar: 2.0 ve 3.0
Toplam :  5.0

In [13]:
# mutlak değer için abs kodunu kullanıyoruz
sayi_1 = float(input("sayi giriniz:"))
sayi_2 = float(input("sayi giriniz:"))
print("{} :  {}".format("toplam",(sayi_1 + sayi_2) * abs(sayi_1 - sayi_2)))
print("Girilen sayılar: {} ve {} \nToplam :  {:.1f}".format(sayi_1,sayi_2,(sayi_1 + sayi_2) * abs(sayi_1 - sayi_2)))

toplam :  2221.0499999999993
Girilen sayılar: 45.2 ve 65.3
Toplam :  2221.0

# Soru_3

In [17]:
# 200 birim paranız var. Fiyatını bilmediğiniz bir üründen 
# 11 adet alabiliyorsunuz Ürünün fiyatı nedir? Kalan miktar nedir?

money = 200
price = money // 11
remain = money % price
print(("Ürünün fiyatı: {} \nKalan para: {}".format(price,remain)))
print(f"Ürünün fiyatı {price} \nKalan{remain}")
print("{}{} {}{}".format("Ürünün fiyatı:",price,"Kalan:",remain))

Ürünün fiyatı: 18
Kalan para: 2
Ürünün fiyatı 18
Kalan2
Ürünün fiyatı:18 Kalan:2

# Soru_4

In [227]:
#  Kullanıcıdan iki sayı isteyin ve bu sayıları değişkenlere
# atayın ve bu değişkenlerin değerlerini birbiriyle değiştirin.
num_1 = int(input("sayi giriniz:"))
num_2 = int(input("sayi giriniz:"))
num_1,num_2 = num_2,num_1
print("Değiştirilmeden önceki değerler \nx:{} y:{}".format(num_1,num_2))
print("Değiştirildikten sonraki değerler \nx:{} y:{}".format(num_2,num_1))

Değiştirilmeden önceki değerler
x:10 y:5
Değiştirildikten sonraki değerler
x:5 y:10

In [225]:
num_1 = int(input("sayi giriniz:"))
num_2 = int(input("sayi giriniz:"))
num_temp = num_1
num_1 = num_2
num_2 = num_temp
print(num_1,num_2)

10 5

# Soru_5

In [20]:
# Kullanıcıdan bir string ve bir tamsayı girdisi alın ve örnekteki gibi çıktıyı alın.
# Ör: kelime = "TechPro" sayı = 3 Output >> ProProPro
# Ör: kelime = "sedat" sayı = 2 Output >> atat (edited) 


str_1 = input("sayi kelime:")
int_1 = int(input("sayi giriniz:"))

print("Kelime {} sayı = {} Output >> {}".format(str_1,int_1,(str_1[int_1:] * int_1)))
print(f"Kelime:{str_1} sayı:{int_1} Output >> {str_1[int_1:] * int_1}")

Kelime adem sayı = 2 Output >> emem
Kelime:adem sayı:2 Output >> emem

In [241]:
a = input("bir string giriniz:")
b = int(input("bir integer giriniz:"))

print(a[-b:] * b)

atikatikatikatik

In [ ]:
kelime = input("Bir kelime girin: ")
sayi = int(input("Bir tam sayi girin: "))
if sayi > len(kelime):
    print("Hata: Sayi kelime uzunluğundan büyük olamaz.")
else:
    sonuc = kelime[-sayi:] * sayi
    print(sonuc)

# Soru_6

In [21]:
# Kullanıcıdan kelime, sep ve tekrar_sayısı değerlerini alın 
# ve verilen değerlere göre kelimeyi yazdırın. 
#Ör: kelime = TechPro sep = :slightly_smiling_face: tekrar_sayısı = 3 
# ----> TechPro:)TechPro:)TechPro

kelime = input("Bir kelime girin: ")
ayrac = input("Bir ayraç giriniz:")
tekrar_sayi = int(input("Tekrar sayısı giriniz:"))
a = [kelime] * tekrar_sayi
ayrac.join(a)

# print(ayrac.join(kelime * tekrar_sayi)

'adem11adem11adem'

In [24]:
kelime

['adem']

In [23]:
word = input("enter a word")
sep =input("Enter a sep")
num=int(input("Enter a number"))
print(sep.join([word]*num))

adem11adem11adem

In [ ]:
word = input("enter a word")
sep = input("enter a seperator")
num = int(input("enter a number"))

result = ((word + sep) * num ).strip(sep)
print(result)

# Soru_7

In [256]:
# 0, and, not ve "bunu yazdır" ifadelerini kullanarak 
# çıktı olarak "bunu yazdır" döndürün.

not 0 and "bunu yazdır"

'bunu yazdır'

In [257]:
not 1 and "" or 14 and not 0

True

# Soru_8

In [262]:
num_1 = float(input("enter a number"))
num_2 = float(input("enter a number"))

if num_1 == num_2 or (num_1 - num_2) % 5 == 0:
    print(True)
else:
    print(False)

False

In [33]:
num_1 = float(input("enter a number"))
num_2 = float(input("enter a number"))

num_1 == num_2 or (num_1-num_2)%5==0

# 'True' if num_1 == num_2 or (num_1-num_2)%5==0 else 'False'

False

In [264]:
'True' if num_1 == num_2 or (num_1-num_2)%5==0 else 'False'

'True'

In [265]:
print(num_1 == num_2 or (num_1-num_2)%5==0)

True

In [16]:
n = int(input().strip())
if n % 2  != 0:
    print("Weird")
elif n % 2  == 0 and 2 <= n <= 5:
    print("Not Weird")
elif n % 2  == 0 and 6 <= n <= 20:
    print("Weird")
elif n % 2  == 0 and 20 < n <= 100:
    print("Not Weird")
else:
    print("n must be smaller than 100")

n must be smaller than 100

In [12]:
"Vatan".strip()

'Vatan'

# Tuples

In [8]:
# Tuple oluşturma yöntemleri 2 tabe
tuple() #içinde iterable nesne ile çalışır (str, list tuple)
()

()

In [9]:
name = "Alparslan"
name

'Alparslan'

In [10]:
tuple(name) # parantez ve virgül ile oluşturulur

('A', 'l', 'p', 'a', 'r', 's', 'l', 'a', 'n')

In [34]:
print(list("Alparslan"))
tuple("Alparslan")
print(("1453",))

['A', 'l', 'p', 'a', 'r', 's', 'l', 'a', 'n']
('1453',)

In [12]:
print(type["Alparslan"])
type("Alparslan")

<class 'str'>

str

In [25]:
print('techproad')
type(['techproed'])

techproad

list

In [21]:
print("techproad",) # tek elemanda virgül koymak gerekir
type(("techproed",))

techproad

tuple

In [23]:
tuple(["hello"])

('hello',)

In [26]:
("hello","world")

('hello', 'world')

In [28]:
("hello","world") + ("ahmet") # vigül konmamış

TypeError: can only concatenate tuple (not "str") to tuple

In [ ]:
("hello","world") + ("ahmet",) # vigül konmuş

In [31]:
(3,5,7,9) + (5,9)

(3, 5, 7, 9, 5, 9)

In [ ]:
name_1, name_2 = "sedat", "yusuf"

In [35]:
name_3, Name_4, name_5 = "adem","veli"

ValueError: not enough values to unpack (expected 3, got 2)

In [36]:
name_6 = "alil", "serap" # tekbir bir değişkene birden fazla atama ve virgül tuple yaparty
type(name_6)

tuple

In [37]:
name_7 = "hasan",
type(name_7)

tuple

In [38]:
("hello", 7, 3.14)

('hello', 7, 3.14)

In [40]:
("hello", 7, 3.14)[0]

'hello'

In [41]:
("hello", 7, 3.14)[1]

7

In [44]:
a = ()
print(type(tuple()))
type(a)

<class 'tuple'>

tuple

In [47]:
aa = list("Techpro")
aa

['T', 'e', 'c', 'h', 'p', 'r', 'o']

In [46]:
tuple(aa)

('T', 'e', 'c', 'h', 'p', 'r', 'o')

In [48]:
bb = tuple("tectpro")
bb

('t', 'e', 'c', 't', 'p', 'r', 'o')

In [52]:
x = list(bb)

In [53]:
(x,)

(['t', 'e', 'c', 't', 'p', 'r', 'o'],)

## range()

In [54]:
range(10)

range(0, 10)

SyntaxError: invalid syntax (3730493449.py, line 1)

In [56]:
tuple(range(5,15))

(5, 6, 7, 8, 9, 10, 11, 12, 13, 14)

In [57]:
tuple(range(-5,1))

(-5, -4, -3, -2, -1, 0)

In [59]:
list(2,25,2)

TypeError: list expected at most 1 argument, got 3

In [60]:
list(range(2,25,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [61]:
tuple(range(2,10,-1))

()

In [63]:
tuple(range(10,2,-1))

(10, 9, 8, 7, 6, 5, 4, 3)

In [64]:
a = ("hello")
b = (3, 5, 7)
b += a

TypeError: can only concatenate tuple (not "str") to tuple

In [65]:
a = ("hello",)
b = (3, 5, 7)
b += a

In [80]:
potpori = (1, 3.14, False, [1, 2, 3, 4], (4, 5), "Murat", 7, 8, 'onur')
potpori

(1, 3.14, False, [1, 2, 3, 4], (4, 5), 'Murat', 7, 8, 'onur')

In [85]:
potpori.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [83]:
potpori.append(25)

AttributeError: 'tuple' object has no attribute 'append'

In [81]:
potpori.count(5)

0

In [84]:
potpori.count()

TypeError: tuple.count() takes exactly one argument (0 given)

In [82]:
potpori[3].count(2)

1

In [86]:
potpori + (10, 9, 8, 7, 6, 5, 4, 3)

(1,
 3.14,
 False,
 [1, 2, 3, 4],
 (4, 5),
 'Murat',
 7,
 8,
 'onur',
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3)

In [91]:
potpori * 3

(1,
 3.14,
 False,
 [1, 2, 3, 4],
 (4, 5),
 'Murat',
 7,
 8,
 'onur',
 1,
 3.14,
 False,
 [1, 2, 3, 4],
 (4, 5),
 'Murat',
 7,
 8,
 'onur',
 1,
 3.14,
 False,
 [1, 2, 3, 4],
 (4, 5),
 'Murat',
 7,
 8,
 'onur')

In [76]:
cc = [0,2,4,6,8,10]

In [96]:
a = input("Birşey giriniz")
b = input("Birşey giriniz")
if type(int(float(a)))== int and type(int(float(b))) == int:
    print(a + b)
else:
   print("tekrar deneyin")

53

In [99]:
a = input("Birşey giriniz")
b = input("Birşey giriniz")

if a.isnumeric() and b.isnumeric():
    toplam = int(a) + int(b)
else:
    "Yanlış giriş yaptınız"
print(a)
print(b)
print(toplam)